extends ../layouts/default

block head
  title Degust 2

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body

  .jumbotron
    #forkme
      a(href='https://github.com/FIXME')
        img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', alt='Fork me on GitHub')
        |         
    h1 Degust
    |         
    p.lead
    |  RNA-seq exploration, analysis and visualisation
    |         
    p
      | Simply upload a CSV file of read counts for each replicate; then view your DGE data
    |         
    p
      a.btn.btn-primary.btn-large(href='/upload') Upload your counts file &raquo;
    div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
